<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I’m William!</h1>
        <p>Electronics enthusiast and connoisseur of zippity zappingtons</p>
      </header>
      <p>
        I am an Electrical Engineering PhD student at Stanford University working in the <a href="https://arbabianlab.stanford.edu">Arbabian Lab</a>
        with support from the <a href="https://www.nsfgrfp.org/">NSF GRFP</a>.
        I received my B.S. in Electrical Engineering in 2020 from Columbia University,
        where I worked in Prof. Ken Shepard's <a href="https://www.bioee.ee.columbia.edu/">Bioelectronic Systems Lab</a>
        and Prof. Hod Lipson's <a href="https://www.creativemachineslab.com/">Creative Machines Lab</a>.
        My research interests include electronic and optical imaging tools for neuroscience,
        and I am particularly interested in creating devices for social impact.
      </p>
      <!-- <ul class="actions">
        <li><a href="#" class="button big">Learn More</a></li>
      </ul> -->
    </div>
    <!-- <span class="image object">
      <img src="assets/images/pic10.jpg" alt="" />
    </span> -->
  </section>
